* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 auto;
  margin: 0 auto;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* MAIN */

nav {
  justify-content: flex-start;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 3.5rem;
  /* background-image: linear-gradient(to top, rgb(22, 22, 22), rgb(112, 57, 12)); */
  position: fixed;
  margin: 0 auto;
  padding: 0 auto;
}
a {
  text-decoration: none;
}

.nav {
  margin-top: 0.5rem;
  padding: 5px 30px 0px 30px;
  font-size: 30px;
  color: white;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
  text-shadow: 1.5px 1.5px black;
}
.nav:nth-child(1) {
  margin-right: 1rem;
}
.nav:hover {
  color: rgb(180, 166, 166);
  transform: translateY(-3px);
}

.nav-sticky {
  background: linear-gradient(
    to right,
    rgb(249, 250, 253),
    rgb(244, 244, 253),
    rgb(205, 209, 209)
  );
}

.nav-sticky-font {
  margin-top: 0.5rem;
  padding: 5px 30px 0px 30px;
  font-size: 27px;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
  color: black;
  text-shadow: none;
}

main {
  width: 100%;
  height: 100vh;
  /* border: 1px solid; */
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-size: cover;
}
.main-text-container {
  display: flex;
  width: 40rem;
  height: 7rem;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
h1 {
  margin: 0 auto;
  font-size: 80px;
  color: white;
  text-shadow: 4px 4px black;
  font-family: "Zen Loop", cursive;
}

.other-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: 5rem;
  margin: 0 auto;
  justify-content: center;
}
.button {
  padding: 1.5rem 2.5rem;
  /* border: 1px solid; */
  /* margin:0 auto; */
  box-shadow: 1px black;
}
.button-github {
  padding: 1.5rem 2rem;
  background-size: contain;
  background-image: url(http://iconsetc.com/icons-watermarks/flat-rounded-square-white-on-blue/social-media/social-media_github/social-media_github_flat-rounded-square-white-on-blue_512x512.png);
  background-repeat: no-repeat;
}
.button-linkedin {
  transform: translateY(10px);
  margin-right: 2rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/1200px-LinkedIn_Logo.svg.png);
}

.contact-me {
  padding: 1rem 3rem 1rem 3rem;
  border: 2px solid;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.contact-me:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

/* PROJECTS */

.tittle {
  font-family: "Zen Loop";
  font-size: 80px;
  text-align: center;
  /* margin-top: 3rem; */
  padding-top: 5rem;
}

.background {
  width: 100%;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: linear-gradient(
    to right top,
    rgb(249, 250, 253),
    rgb(244, 244, 253),
    rgb(234, 243, 248),
    rgb(228, 239, 247)
  );
}

#projects {
  /* margin-top: 3rem; */
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 48rem;
  /* border: 1px solid; */
  flex-wrap: wrap;
  padding-top: 2rem;
}
.projects-container {
  display: flex;
  width: 45%;
  height: 20rem;
  border: 1.5px solid rgb(199, 197, 197);
  margin-top: 3rem;
  margin-left: 3rem;
  box-shadow: 20px 20px 50px 15px rgb(96, 107, 128);
  transition: 1.2s;
  border-radius: 2.5%;
}

.projects-container:hover {
  transform: translateY(-10px);
}

.project-image {
  width: 50%;
  height: 20rem;
  background-size: cover;
  justify-content: center;
  border-radius: 2.5%;
  opacity: 1;
  justify-content: center;
}
.project-image:hover {
  opacity: 0.45;
}

.project-info {
  width: 50%;
  height: 20rem;
  border-radius: 2.5%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
h5 {
  margin-bottom: 2rem;
  font-size: 50px;
  font-family: "Zen Loop";
}

.project-info-link {
  padding: 12px 30px;
  /* border: 1px solid black; */
  border-radius: 10%;
  color: white;
  background: linear-gradient(
    to top left,
    rgb(138, 136, 136),
    rgb(153, 147, 198)
  );
  transition: 0.8s;
}

.project-info-link:hover {
  background: linear-gradient(
    to top left,
    rgb(139, 150, 248),
    rgb(213, 208, 250)
  );
}

.project-info-span {
  margin-bottom: 1.8rem;
  font-size: 17px;
}
.bankist-web {
  background-image: url(bankist-web.png);
}

.hidden {
  display: none;
}

#about-me {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.skills {
  width: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 30rem;
  /* box-shadow: 20px 20px 20px 15px grey; */
}

.main-skills {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-skills-name {
  width: 100%;
  height: 5rem;
  font-size: 50px;
  font-family: "Zen Loop";
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(39, 37, 37);
  text-shadow: 1px 1px white;
}

.main-icons-container {
  width: 100%;
  height: 10rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.icons {
  width: 25%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 8rem;
}
.html {
  background-image: url(html.png);
  background-repeat: no-repeat;
}
.css {
  background-image: url(css.png);
}
.js {
  background-image: url(js.png);
}
.python {
  background-image: url(python.png);
}
.node {
  background-image: url(node.png);
}
.bootstrap {
  background-image: url(bootstrap.png);
}

.courses {
  width: 50%;
  display: flex;
  text-align: center;
  height: 30rem;
  flex-direction: column;
  margin-top: 1rem;
  /* box-shadow: 20px 20px 50px 15px grey; */
}
.courses-title {
  width: 100%;
  height: 5rem;
  font-family: "Zen Loop";
  font-size: 50px;
  color: rgb(39, 37, 37);
  text-shadow: 1px 1px white;
}
.courses-sertificates {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Zen Loop";
  font-size: 30px;
  color: rgb(39, 37, 37);
  /* text-shadow: 1px 1px white; */
}
.course-link-name {
  font-family: "Roboto";
  font-size: 15px;
  padding: 8px 12px;
  background-image: linear-gradient(
    to right,
    rgb(99, 114, 241),
    rgb(134, 192, 247)
  );
  color: rgb(3, 3, 3);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 5px;
  transition: 1s;
}
.course-link-name:hover {
  animation-delay: 5s;
  background-image: linear-gradient(
    to left,
    rgb(41, 61, 238),
    rgb(238, 213, 236)
  );
  color: whitesmoke;
}
.course-link-name:active {
  background-image: radial-gradient(rgb(187, 29, 174));
}

#contact-container {
  width: 100%;
  height: 100vh;
}

/* responsive mobiles 320-480px */

@media (min-width: 360px) {
  .main-text-container {
    width: 20rem;
  }
  .other-buttons {
    width: 20rem;
  }

  .nav {
    margin-top: 0.5rem;
    padding: 2px 10px 0px 10px;
  }
  body {
    width: 100%;
  }
  .projects-container {
    width: 95%;
    height: 12rem;
    margin-left: 0;
  }
  .project-image {
    width: 45%;
    height: 12rem;
    justify-content: center;
  }
  .project-info {
    width: 55%;
    height: 12rem;
    text-align: center;
  }
  /* h2 {
    font-size: 20px;
  } */

  #projects {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 16rem;
  }
  h1 {
    font-size: 50px;
  }
  #about-me {
    flex-wrap: wrap;
  }

  .skills {
    width: 100%;
  }
  .courses {
    width: 100%;
    /* font-size: 10px; */
  }
  .courses-sertificates {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .nav {
    margin-top: 0.5rem;
    padding: 2px 27px 0px 27px;
  }
  .main-text-container {
    width: 30rem;
  }
  .other-buttons {
    width: 30rem;
  }
  .project-info {
    width: 50%;
    height: 20rem;
  }
  .projects-container {
    width: 90%;
    height: 15rem;
  }
  .project-image {
    width: 45%;
    height: 14rem;
  }
  #projects {
    flex-wrap: no-wrap;
    padding-bottom: 30rem;
  }
  h1 {
    font-size: 65px;
  }
}

@media (min-width: 1024px) {
  .projects-container {
    width: 45%;
    height: 15rem;
    margin-left: 3rem;
  }
  .project-image {
    width: 45%;
    height: 15rem;
  }
  #projects {
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
  h1 {
    font-size: 80px;
  }
  #about-me {
    flex-wrap: wrap;
  }

  .skills {
    width: 50%;
  }
  .courses {
    width: 50%;
    /* font-size: 10px; */
  }
  .courses-sertificates {
    font-size: 30px;
  }
}
